<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
  <th:block th:fragment="footer">
    <footer id="contacto">
      <div class="footer-content">
        <p>Contacto</p>
        <div class="social-links">
          <a href="https://www.linkedin.com/in/juan-josé-moral-mata-913288217">LinkedIn</a>
          <a href="https://www.tecnoempleo.com/juan-jose-moral.mpt">Tecnoempleo</a>
          <a href="https://github.com/juanjomo4">GitHub</a>
        </div>
      </div>
    </footer>
  </th:block>
</html>
