<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Juanjomo Portfolio</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
      integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <main>
      <!-- Header con la navegación -->
      <div th:replace="fragments/header :: header"></div>

      <!-- Datos descripcion sobre mi -->
      <section class="descripcionHome" id="home">
        <div class="descripcionHome-background">
          <div class="container descripcionHome-container">
            <div class="descripcionHome-content">
              <div class="descripcionHome-greeting">
                <h1 class="descripcionHome-title">
                  <span class="gradient-text"
                    >Hola! <br />
                    Bienvenido a mi portfolio</span
                  >
                </h1>
                <h2 class="descripcionHome-subtitle">
                  Desarrollador Full Stack
                </h2>
                <p class="descripcionHome-description">
                  Portfolio creado por <strong>Juanjo Moral</strong>,
                  desarrollador graduado en C.F.G.S Desarrollo de Aplicaciones
                  Multiplataforma.
                </p>

                <a class="nav-link" th:href="@{/about}"
                  >Más sobre mí <i class="fas fa-laptop-code"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- Background shapes -->
      <div class="floating-shap shape-1"></div>
      <div class="floating-shap shape-2"></div>
      <div class="floating-shap shape-3"></div>
    </main>
    <!-- Footer -->
    <div th:replace="fragments/footer :: footer"></div>
  </body>
</html>
